
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Satoshi-Variable';
}
.container {
  display: flex;
}